<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Barra de progreso</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="pct" aria-valuemin="0" aria-valuemax="100" [style.width]="pct + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                texto 1
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="pct">
                    <div class="input-group-append " id="button-addon4 ">
                        <button class="btn btn-outline-primary " type="button " (click)="accion(+5) "><i class="mdi mdi-plus "></i></button>
                        <button class="btn btn-outline-danger " type="button " (click)="accion(-5) "><i class="mdi mdi-minus "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 ">
        <div class="card ">
            <div class="card-body ">
                texto 2
                <div class="input-group ">
                    <input type="text " class="form-control " placeholder="Recipient 's username" aria-label="Recipient's username with two button addons " aria-describedby="button-addon4 ">
                    <div class="input-group-append " id="button-addon4 ">
                        <button class="btn btn-outline-primary " type="button "><i class="mdi mdi-plus "></i></button>
                        <button class="btn btn-outline-danger " type="button "><i class="mdi mdi-minus "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>