<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li *ngFor="let menu of _sidebar.menu">
                    <a routerLinkActive="active" class="waves-effect waves-dark" [routerLink]="[menu.url]" aria-expanded="false"><i class="{{menu.icono}}"></i><span class="hide-menu">{{menu.titulo}}</span></a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>